
	<footer class="footer">
		<div class="footer__top">
			<div class="container container--footer-top">
				<h4 class="footer__h4">Work</h4>
				<ul class="footer__article__menu">
					<li>
						<a href="https://zello.com/work/">Overview</a>
					</li>
					<li>
						<a href="https://zello.com/work/customers/">Customers</a>
					</li>
					<li>
						<a href="https://zello.com/zello-enterprise-server/">Enterprise Server</a>
					</li>
					<li>
						<a href="https://zello.com/work/how-it-works/managing-zellowork/">Managing ZelloWork</a>
					</li>
					<li>
						<a href="https://zello.com/work/drivers-and-dispatchers/">Drivers & Dispatchers</a>
					</li>
					<li>
						<a href="https://zello.com/work/carrier-push-to-talk/">Carrier PTT Replacement</a>
					</li>
					<li>
						<a href="https://zello.com/work/content/">Content</a>
					</li>
					<li>
						<a href="https://zellowork.com/developers">Developers</a>
					</li>
					<li>
						<a href="https://zello.com/accessories/radio-gateways/">Radio Gateways</a>
					</li>
					<li>
						<a href="https://zello.com/work/how-it-works/using-zellowork/">Using ZelloWork</a>
					</li>
					<li>
						<a href="https://zello.com/work/team-communication/">Team Communication</a>
					</li>
					<li>
						<a href="https://zello.com/accessories/headsets-buttons-mics/">Accessories</a>
					</li>
					<li>
						<a href="https://zello.com/work/pricing/">Pricing</a>
					</li>
					<li>
						<a href="https://zello.com/partners/">Partners</a>
					</li>
					<li>
						<a href="#">Console Sign In</a>
					</li>
					<li>
						<a href="https://zello.com/work/how-it-works/extending-zellowork/">Extending ZelloWork</a>
					</li>
					<li>
						<a href="https://zello.com/work/radio-replacement/">Radio Replacement</a>
					</li>
					<li>
						<a href="https://zello.com/work/contact/">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer__bottom">
			<div class="container container--footer-bottom">
				<ul class="footer__links">
					<li>
						<span class="text--bold">
							<a href="https://zello.com/">Zello.inc</a>
						</span>
					</li>
					<li>
						<a href="https://zello.com/privacy/">Privacy</a>
					</li>
					<li>
						<a href="https://zello.com/terms/">Terms</a>
					</li>
				</ul>
				<ul class="footer__social">
					<li>
						<a href="https://www.youtube.com/user/ZelloYou512">
							<img src="{{asset 'youtube-icon.png'}}" alt="YouTube">
						</a>
					</li>
					<li>
						<a href="https://twitter.com/Zello">
							<img src="{{asset 'twitter-icon.png'}}" alt="Twitter">
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/ZelloMe/">
							<img src="{{asset 'facebook-icon.png'}}" alt="Facebook">
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/zello_inc/">
							<img src="{{asset 'instagram-icon.png'}}" alt="Instagram">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>